@model Cafeteria.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}
<link rel="stylesheet" href="~/css/ProdutosDetalhes.css" asp-append-version="true" />


<a id="backButton" class="btn btn-outline-light btn-circle mb-3 bg-brown btn-brown btn-back">
    <i class="fas fa-arrow-left"></i>
</a>

<div>

    <div class="row">
        <!-- Imagem do Produto -->
        <div class="col-md-6">
            <div class="card bg-brown align-items-center">
                <img src="~/images/product/@Html.DisplayFor(model => model.Imagem)" class="img-details  " alt="Café Expresso">
            </div>
        </div>

        <!-- Detalhes do Produto -->
        <div class="col-md-6 d-flex justify-content-between flex-wrap flex-column mt-2 mt-md-0">

            <h1>@Html.DisplayFor(model => model.Nome)</h1>
            <div class="description">
                <p class="text-muted">@Html.DisplayFor(model => model.Descricao)</p>
            </div>

            <div class="price">
                <h2>@Html.DisplayFor(model => model.Preco)</h2>
            </div>

            @*             <p class="mb-4">@Html.DisplayFor(model => model.Descricao)</p> *@

            <!-- Botão Adicionar ao Carrinho -->
            @* <a asp-action="Index" asp-controller="Produtos" class="btn btn-outline-secondary">Voltar à Lista</a> *@
            <button class="btn btn-primary btn-lg">Adicionar ao Carrinho</button>


            <!-- Links de Ação -->
            @* <div class="d-flex justify-content-end mt-3">
            <a href="caminho_para_editar" class="btn btn-outline-secondary">Editar</a>
            </div> *@
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let urlReferencia = "@(TempData["ReferrerUrl"])";
    </script>

    <script src="~/js/ProdutosDetalhes.js"></script>
}