@model IEnumerable<Cafeteria.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
    int clienteId = 0;
    if (User.Identity.IsAuthenticated && User.IsInRole("Cliente"))
    {
        clienteId = int.Parse(User.Claims.FirstOrDefault(c => c.Type == "Id").Value);
    }
}
<link rel="stylesheet" href="~/css/Produtos.css" asp-append-version="true" />

<form asp-controller="Produtos" asp-action="Search" method="get">
    <div class="search mb-3 d-none d-md-block">
        <div class="input-group">
            <input type="text" class="search-input form-control" name="search" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="button-addon2" value="@(ViewBag.CurrentFilter ?? "")">
            <div class="search-finishing">
                <button class="search-button btn btn-padding btn-rounded" type="submit" id="search-send"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            bool isFavorite = false;
            if (User.Identity.IsAuthenticated && User.IsInRole("Cliente"))
            {
                isFavorite = item.Favoritos.Any(f => f.ClienteId == clienteId);
            }
            <div class="col-md-3 col-6">
                <div class="card card-rounder mb-4 shadow bg-brown card-rounder">
                    @if (User.IsInRole("Cliente") || !User.Identity.IsAuthenticated)
                    {
                        <div class="card-favorite">
                            <a class="card-btn-favorite" asp-action="Favoritar" asp-route-id="@item.Id">
                                <i class="fas fa-heart @(isFavorite ? "text-danger" : "")"></i>
                            </a>
                        </div>
                        
                    }
                    <div class="card-img mt-3">
                        <img src="~/images/product/@Html.DisplayFor(modelItem => item.Imagem)" class="card-img-top card-img-product" alt="@Html.DisplayFor(modelItem => item.Nome)">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Preco)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>


@* <h1>Index</h1> *@


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagem)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@

<script src="~/js/Produtos.js" asp-append-version="true"></script>
